.bg-login-image {
    background-image: url("/static/images/login-bg.jpeg");
}
.otp-input {
    width: 50px;
    font-size: 1.5rem;
}

.auth-btn-user{
    width: 120px;
}

.form-small{
    max-width: 400px;
    margin: auto;
}


.select2-container .select2-selection--single {
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}