{% extends "base.html" %}
{% load static %}
{% block title %}Shops{% endblock %}
{% block extra_css %}
{% include "partials/datatable_css.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Shops</h1>
      <a href="{%url 'expenses:shop_add'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
   </div>
   <!-- DataTales -->
   <div class="card shadow mb-4">
      <div class="card-body">
         <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
               <div class="row">
                  <div class="col-sm-12">
                     <table class="table table-bordered table-striped datatable" id="shopTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                           <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block extra_js %}
    {% include "partials/datatable_js.html" %}
    <script>
        var table;
        $(document).ready(function() {

            table = $('#shopTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'expenses:shop_datatable' %}",
                "columns": [
                    { data: null, orderable: false, searchable: false },
                    { "data": "name" },
                    { "data": "created_at" },
                    { data: "action", orderable: false, searchable: false }
                ],

                "pageLength": 10,
                "order": [[1, "asc"]]
            });

            table.on('draw.dt', function () {
                var pageInfo = table.page.info();

                table.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    cell.innerHTML = pageInfo.start + i + 1;
                });
            });

        });
    </script>
{% endblock %}